<%- contentFor("head") %> 
<title>Blog - tất cả bài viết</title>
<link rel="stylesheet" href="/public/stylesheets/pages/blog/allPost.css">
<link rel="stylesheet" href="/public/stylesheets/pages/blog/style.css">


<%- contentFor("body") %> 
<div class="row" style="margin-top: 20px;">
    <div class="container home_page">
        <div class="row">

            <div class="col-sm-8" id="listpost">
                <% if(result.length == 0){ %>
                    <%- include('../../partials/no-result-item.ejs') %> 
                  <% }else{ %>
                    <% result.forEach((post)=>{ %>
                      <%- include('../../partials/all-post-item.ejs', {post}) %> 
                    <% }) %> 
                  <% } %> 
            </div>
            <div class="col-sm-4">
                <div class="sidebar">
                    <form action="/blogs/search" method="GET">
                        <div class="sidebar_searchbox">
                            <input name="searchKey" type="text" placeholder="Nhập từ khóa tìm kiếm...">
                            <input name="category" type="text" hidden value="all">
                            <input name="time" type="text" hidden value="Infinity">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                    <div class="category">
                        <h4>Danh mục</h4>
                        <ul class="category_list">
                            <li>
                                <a href=""><i class="fas fa-angle-right"></i>Javascript cơ bản</a></li>
                            <li>
                                <a href=""><i class="fas fa-angle-right"></i>Tạo landing page cơ bản với HTML CSS</a></li>
                            <li>
                                <a href=""><i class="fas fa-angle-right"></i>Lập trình c# từ cơ bản đến nâng cao</a></li>
                            <li>
                                <a href=""><i class="fas fa-angle-right"></i>Fullstack với Javascript, Reactjs, Nodejs</a></li>
                            <li>
                                <a href=""><i class="fas fa-angle-right"></i>Thiết kế và quản trị CSDL</a></li>
                            <li>
                                <a href=""><i class="fas fa-angle-right"></i>Flutter cho người mới bắt đầu</a></li>
                            <li>
                                <a href=""><i class="fas fa-angle-right"></i>Tự học lập trình mobile</a></li>
                            <li>
                                <a href=""><i class="fas fa-angle-right"></i>Javascript Nâng cao</a></li>
                            <li>
                                <a href=""><i class="fas fa-angle-right"></i>Lập trình web asp.net</a></li>
                        </ul>
                    </div>
                    <div class="topview">
                        <h4>Top bài viết được xem nhiều nhất</h4>
                        <ul class="topview_list">
                            <li>
                                <a href="">
                                    <div class="topview_img">
                                        <img src="/public/assets/images/blog/react5.jpg" alt="">
                                    </div>
                                    <div class="topview_content">
                                        <h6>React-DOM là gì? Tại sao cần React-DOM?</h6>
                                        <div class="topview_content-head">

                                            <p><i class="fas fa-eye"></i>2006</p>
                                            <p><i class="fas fa-calendar-alt"></i>12/10/2021</p>
                                        </div>

                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="topview_img">
                                        <img src="/public/assets/images/blog/js-item2.jpg" alt="">
                                    </div>
                                    <div class="topview_content">
                                        <h6>React-DOM là gì? Tại sao cần React-DOM?</h6>
                                        <div class="topview_content-head">

                                            <p><i class="fas fa-eye"></i>1908</p>
                                            <p><i class="fas fa-calendar-alt"></i>12/10/2021</p>
                                        </div>

                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="topview_img">
                                        <img src="/public/assets/images/blog/js-item1.jpg" alt="">
                                    </div>
                                    <div class="topview_content">
                                        <h6>React-DOM là gì? Tại sao cần React-DOM?</h6>
                                        <div class="topview_content-head">

                                            <p><i class="fas fa-eye"></i>1902</p>
                                            <p><i class="fas fa-calendar-alt"></i>12/10/2021</p>
                                        </div>

                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="topview_img">
                                        <img src="/public/assets/images/blog/htmlcss1.jpg" alt="">
                                    </div>
                                    <div class="topview_content">
                                        <h6>React-DOM là gì? Tại sao cần React-DOM?</h6>
                                        <div class="topview_content-head">

                                            <p><i class="fas fa-eye"></i>1859</p>
                                            <p><i class="fas fa-calendar-alt"></i>12/10/2021</p>
                                        </div>

                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="lastpost">

                    </div>
                </div>
            </div>
            <div class="col-sm-8" style="margin-bottom: 100px;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                       <% if (pagination[0] == 1){ %>
                        <li class="page-item disabled"  ><a class="page-link" disabled href="">Trang đầu</a></li>
                        <%   } else { %>
                        <li class="page-item"><a class="page-link" href="/blogs/all-post?page=<%- pagination[0] - 1 %>">Trang trước</a></li>
                        <%  } %>
                        
                        <% for(let i = 1; i <= pagination[1]; i++) {%>
                        <% if (i == pagination[0]) { %>
                            <li class="page-item active"><a class="page-link" href="/blogs/all-post?page=<%- i %>">   <%- i %></a></li>
                        <% } else { %>
                        <li class="page-item"><a class="page-link" href="/blogs/all-post?page=<%- i %>">   <%- i %></a></li>
                        <%  } %>
                        <% } %>
                        <% if (pagination[0] == pagination[1] ) { %>
                        <li class="page-item disabled"><a class="page-link" href="">Trang cuối</a></li>
                        <% } else { %>
                        <li class="page-item"><a class="page-link" href="/blogs/all-post?page=<%- pagination[0] + 1 %>">Trang tiếp</a></li>
                        <% } %>
                        
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>
